<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BuildLights.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <BuildLights.Service.Properties.Settings>
            <setting name="ServerAddress" serializeAs="String">
                <value>ServerAddress</value>
            </setting>
            <setting name="TeamProjectName" serializeAs="String">
                <value>TeamProjectName</value>
            </setting>
            <setting name="BuildDefinitionName" serializeAs="String">
                <value>BuildDefinitionName</value>
            </setting>
            <setting name="CheckInterval" serializeAs="String">
                <value>10</value>
            </setting>
        </BuildLights.Service.Properties.Settings>
    </applicationSettings>
</configuration>